snippet shebang
    #!/usr/bin/env python3
    ${0}

snippet imp
    import ${1:module}

snippet ifmain
    if __name__ == '__main__':
		${1:main()}

snippet class
    class ${1:#:name}(${2:object}):
		def __init__(self, ${3}):
			${0:pass}
